//normalize

@import "./_misc/normalize.scss";

//_misc

@import "./_misc/loyter.scss";

//

@import "./blok/navigation.scss";
@import "./blok/header.scss";
@import "./blok/tabs.scss";
@import "./blok/cd-intro.scss";
@import "./blok/hero.scss";
@import "./blok/menu.scss";
@import "./blok/info-blok.scss";
@import "./blok/section-blok-header.scss";
@import "./blok/namber.scss";
@import "./blok/blok_container.scss";