.header {
    //height: 100%;
    min-height: 30.625rem;
    position: relative;
    display: flex;
    overflow: hidden;
}
.maycontainer {
    background: url(../img/fon.jpg);
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    position: relative; 
    display: flex;
    position: relative;
    margin: 0 auto;
    /* max-width: 58.75rem; */
    /* width: 95%; */
    flex-direction: column;
    /* text-align: center; */ 
}

#text-animal {
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 78px;
    letter-spacing: 9px;
    color: white;
    text-align: center;
}

.title {
    min-height: 4.625rem;
    position: relative;
    /* display: flex; */
    overflow: hidden;
    background-color: #dcdbdb;
}
.tabs-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 78px;
    letter-spacing: 9px;
    color: #040101;
    text-align: center;
}
