html,
body {
   height: 100%;
}

body {
    position: relative;
    color: black;
    margin: 0 auto;
}

.wrapper {
    //overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    
    
}

